<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Airport:</th>
      <th>Airline:</th>
      <th>Flight Num:</th>
      <th>Departs:</th>
    </tr>
  </thead>
  <tbody>
    <% flights.forEach(function(f) { %>
      <tr>
        <td><%= f.airport %></td>
        <td><%= f.airline %></td>
        <td><%= f.flightNo %></td>
        <td><%= f.departs %></td>
        <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>