<%- include('../partials/header') %>



<section id="show-page">
    <div>Airport </div>
    <div><%= flight.airport %></div>
    <div>Airline </div>
    <div><%= flight.airline %></div>
    <div>Flight No: </div>
    <div><%= flight.flightNo %></div>
    <div>Departs: </div>
    <div><%= flight.departs %></div>
  </section>
  
</section>
<!-- new markup below -->
<br><br><h2>Destinations</h2>
<form id="add-destination" method="POST"
action="/flights/<%= flight._id %>/destination">
<label>Airport:
  <select name="airport">
    <option value="LAX">LAX</option>
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="SAN">SAN</option>
  </select>
</label>
<label>Arrival:
  <input type="datetime-local" name="arrival"> 
</label>
  <input type="submit" value="Add Destination">
</form>


<br>
<tr id="show-page">
  <% flight.destinations.forEach(function(f) { %>
    <strong><td>Airport: </td></strong> 
    <td><%= f.airport %></td>
    <strong><td>Arrival: </td></strong>
    <td><%= f.arrival %></td>
    <% }) %>
   <button><a href="/tickets">Buy Ticket</a></button>
</tr>